VITE_APP_URL=
VITE_AUTH_REDIRECT_URL=
VITE_EITHERWAY_HOST_URL=
VITE_EITHERWAY_APP_ID=your_eitherway_app_id_here
VITE_HELIUS_RPC_URL=https://mainnet.helius-rpc.com/?api-key=your_helius_rpc_api_key_here
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here
VITE_SUPABASE_URL=your_supabase_url_here
