VITE_APP_ENVIRONMENT=your_environment

VITE_APP_URL_DEV=your_dev_app_url_here
VITE_APP_URL_PROD=your_prod_app_url_here

VITE_SENTRY_DSN_DEV=https:8bdd...ingest.de.sentry.io/your_dev-project_id_here
VITE_SENTRY_DSN_PROD=https:8bdd...ingest.de.sentry.io/your_prod_project_id_here

SENTRY_PROJECT_DEV=your_sentry_dev_project_here
SENTRY_PROJECT_PROD=your_sentry_prod_project_here

VITE_AUTH_REDIRECT_URL_DEV=your_dev_auth_redirect_url_here
VITE_AUTH_REDIRECT_URL_PROD=your_prod_auth_redirect_url_here

VITE_SUPABASE_ANON_KEY_DEV=your_dev_supabase_anon_key_here
VITE_SUPABASE_ANON_KEY_PROD=your_prod_supabase_anon_key_here

VITE_SUPABASE_URL_DEV=your_dev_supabase_url_here
VITE_SUPABASE_URL_PROD=your_dev_supabase_url_here

VITE_HELIUS_RPC_URL_DEV=https://devnet.helius-rpc.com/?api-key=your_helius_rpc_api_key_here
VITE_HELIUS_RPC_URL_PROD=https://mainnet.helius-rpc.com/?api-key=your_helius_rpc_api_key_here

# shared
SENTRY_ORG=your_sentry_org_here
SENTRY_AUTH_TOKEN=your_sentry_auth_token_here
VITE_EITHERWAY_HOST_URL=your_eitherway_host_url_here
VITE_EITHERWAY_APP_ID=your_eitherway_app_id_here
